.container-home {
    background-color: #f6f6f8;
    background-size: cover;
    overflow: auto;
}
.container-home-bg-1{
    background-image: url('../img/bg-home-2.jpg');
    background-position: 50% 50%;
    /* min-height: 889px; */
}
.container-home-bg-2{
    background-image: url('../img/bg-home-4.jpg');
    background-position: 50% 50%;
}
.container-home-bg-3{
    background-image: url('../img/bg-home-6.jpg');
}
.container-footer.container-footer-bg{
    background-image: url('../img/bg-footer-2.jpg');
    background-position: 50% 50%;
    overflow: visible;
}
.homebg{
    background-size: cover;
    min-height: 635px;
    max-width: 100%;
    padding: 30px;
}
.homebg-img-1{
    background-image: url('../img/bg-home-1.jpg');
}
.homebg-img-3{
    background-image: url('../img/bg-home-3.jpg');
}
.container-clearfix{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-clearfix .bread-layout-1{
    margin: 90px auto 0;
}

.container-clearfix h2{
    margin: 60px auto 0;
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 400;
}
.container-clearfix h2.text-white{
    color: #ffffff;
}
.container-home-layout .img-layout{
    width: 132px;
    /* height: 130px; */
}
.container-home-layout h1{
    margin: 20px 1px 0;
    font-size: 3rem;
    font-family: "Montserrat";
    word-wrap: break-word;
    font-weight: 400;
}
.container-home-layout .text-layout{
    margin: 30px 13px 0;
}
.credit.credit-layout-special{
    margin: 30px 1px 0;
}
.method{
    margin: 30px 0 0;
    word-wrap: break-word;
}
.btn-readmore{
    margin: 45px auto 0;
    padding: 12px 54px 14px !important;
    border-radius: 50px !important;
    border: 2px solid #404040 !important;
    color: #404040 !important;
    background-color: transparent !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.2s ease-in-out !important;
}
.btn-readmore:hover{
    background-color: #404040 !important;
    color: #ffffff !important;
}
.btn-readmore:focus,
.btn-readmore:active{
    color: #404040 !important;
    background-color: transparent !important;
}

.card.card-special{
    height: 190px !important;
    /* overflow: auto; */
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #f6f6f8;
    border-radius: 20px !important;
}
.card.card-special .card-special-body .card-special-title,
.card.card-special .card-special-body .card-special-text{
    text-align: left !important;
}
.card.card-special .card-special-body::before{
    opacity: 0.6;
}
.card.card-special .card-special-body .card-special-title{
    margin: 0;
    font-weight: 500;
    letter-spacing: normal;
}
.card.card-special .card-special-body .card-special-text{
    margin: 20px 0 0;
}

.text-container-end{
    margin: 59px auto 0;
    word-wrap: break-word;
}
.img-layout-2{
    height: 734px;
    margin-top: 11px;
    object-fit: contain;
}

.fixed-height.card-text{
    margin: 20px 0 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.card-btn-fixed-height{
    position: relative;
}
.card-btn-fixed-height .btn-fixed-height{
    position: absolute;
    bottom: -5px;
    right: -5px;
}
.card.card-review{
    background-color: #f2952d;
    color: #ffffff;
    padding: 0 30px 30px;
}
.card.card-review * {
    text-align: left;
}
.card.card-review .card-review-header.card-header{
    border: 0;
    background-color: transparent;
}
.card.card-review .card-review-header.card-header .quote-block{
    display: block;
    height: 76px;
    width: 76px;
    margin: -28px auto 0 0;
    border-radius: 50% !important;
    padding: 14px;
    background-color: #ffffff;
}
.card.card-review .card-review-header.card-header .quote-block i{
    color: #f2952d;
}
.card.card-review .card-body .card-review-text{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}
.card.card-review .card-review-footer{
    margin: 0;
    padding: 0;
}
.card.card-review .card-review-footer .card-review-author{
    letter-spacing: normal;
    word-wrap: break-word;
    margin: 30px 0 0;
}

.container-footer.container-footer-bg h2{
    font-size: 3.4375rem;
    font-family: "Montserrat";
    font-weight: 400;
}
.container-footer.container-footer-bg .social-credit *{
    text-align: left;
}