@import url('https://pro.fontawesome.com/releases/v5.11.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* container */
.offcanvas-header,
.offcanvas-body{
  background-color: #000000;
  color: #ffffff;
}

.container-1{
  overflow: auto;
  background-image: url('./img/bg-1.jpg');
  /* background-position: 50% 0; */
  background-size: cover;
}

.container-2{
  overflow: auto;
  background-color: #e5e5e5;
}

.container-2 .bread-group{
  margin-top: 50px;
  min-height: 915px;
}

.container-2 .bread-group .bread{
  margin-bottom: 25px;
}

/* text */
a{
  text-decoration: none !important;
}

.offcanvas-body .list-group-item{
  background: transparent;
  border: 0;
}

.offcanvas-body .list-group-item a{
  font-size: 1.25rem;
  color: #ffffff;
  margin: 8px 0;
}

.container h2{
  font-family: 'Montserrat';
  font-size: 3.4375rem;
}

.container-1 h2{
  margin: 338px auto 0;
}

.container-2 h2{
  margin: 60px auto 0;
}

.container p{
  font-family: 'Open Sans';
  font-size: 1.5rem;
  margin: 31px auto 0;
  letter-spacing: 1px;
}

.container-1 h2,
.container-1 p{
  color: white;
}

.container-1 p.credit,
.container-2 p.credit{
  margin: 30px auto 60px;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: normal;
}

.container-1 p.credit a,
.container-2 p.credit a{
  color: #ffffff;
  text-decoration: underline !important;
}

.container-2 p.credit,
.container-2 p.credit a{
  color: #000000;
}

@media (min-width: 1400px) {
  .container{
    max-width: 1200px !important;
  }
}a
/* button */
.btn-close {
  filter: invert(1) brightness(2);
}

.btn_menu{
  background-color: transparent !important;
  border: transparent !important;
}
.btn_menu i{
  color: #000000;
  transition: color 0.2s ease-in-out !important;

}
.btn_menu:hover i{
  color: orange;
}
.btn_group_1{
  margin-top: 39px !important;
}
.btn_group_1 .btn_1st_section{
  background: transparent;
  border: 2px solid;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 10px 48px 10px 46px;
  font-weight: 700;
}

/* card */
.card *,
.card {
  border-radius: 0 !important;
}

.card{
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  padding: 20px 20px 30px;
  /* max-width: 100%; */
  max-height: 450px;
  justify-content: flex-start;
}

.card-body{
  padding: 0 !important;
}

.card-img-top{
  height: 195px;
  overflow: hidden;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
  /* vertical-align: middle; */
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.card-title.h5{
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.card-text{
  font-size: 1rem !important;
  font-style: italic;
  margin: 20px 0 0;
  word-wrap: break-word;
  letter-spacing: normal !important;
}

.card-footer{
  background-color: transparent !important;
  border: 0 !important;
  margin: 20px auto 0;
}

.card-footer a{
  color: #000000;
  border-bottom: 1px solid #000000;
}