@import url('https://pro.fontawesome.com/releases/v5.11.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* container */
.offcanvas-header,
.offcanvas-body{
  background-color: #000000;
  color: #ffffff;
}

.offcanvas-body{
  text-align: center;
}

.container-1{
  overflow: auto;
  background-image: url('./img/bg-1.jpg');
  /* background-position: 50% 0; */
  background-size: cover;
}

/* text */
a{
  text-decoration: none !important;
}

.offcanvas-body .list-group-item{
  background: transparent;
  border: 0;
}

.offcanvas-body .list-group-item a{
  font-size: 1.25rem;
  color: #ffffff;
  margin: 8px 0;
}

.container h2{
  margin: 338px auto 0;
  font-family: 'Montserrat';
  font-size: 3.4375rem;
}

.container p{
  font-family: 'Open Sans';
  font-size: 1.5rem;
  margin: 31px auto 0;
  letter-spacing: 1px;
}

.container-1 h2,
.container-1 p{
  color: white;
  text-align: center;
}

.container-1 p.credit{
  margin: 30px auto 60px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: normal;
}

.container-1 p.credit a{
  color: #ffffff;
  text-decoration: underline !important;
}

/* button */
.btn-close {
  filter: invert(1) brightness(2);
}

.btn_menu{
  background-color: transparent !important;
  border: transparent !important;
}
.btn_menu i{
  color: #000000;
  transition: color 0.2s ease-in-out !important;

}
.btn_menu:hover i{
  color: orange;
}
.btn_group_1{
  margin-top: 39px !important;
  text-align: center;
}
.btn_group_1 .btn_1st_section{
  background: transparent;
  border: 2px solid;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 10px 48px 10px 46px;
  font-weight: 700;
}